$blanco: #ffffff
$morado: rgb(149, 34, 228)

body
  background-image: url(../images/textura.jpg)
  background-size: cover

#home
  .row
    padding-left: 0px !important
    padding-right: 0px !important

  h1
    letter-spacing: 15px
    margin-top: 15%
    font-size: 50px
    color: $blanco

  small
    color: $blanco
    letter-spacing: 4px

  .reporte
    margin-top: 12%

    small
      letter-spacing: 2px
      display: block
      margin-bottom: 1%

    a
      padding: 0.5em 1em
      cursor: pointer
      border: 1px solid $blanco
      color: $blanco
      background-color: $morado

  .col-xs-offset-11
    img
      width: 4em
      height: 4em

#portafolio
  .container-fluid
    .col-xs-2
      border-right: 1px solid $blanco
      min-height: 38em
      text-align: right
      margin-top: 1%

      div
        width: 9px
        height: 9px
        border-radius: 100%
        background-color: $morado
        border: 1px solid $blanco
        position: absolute
        margin-left: 92%

      .puntoMes
        width: 14px
        height: 14px
        border-radius: 100%
        background-color: $morado
        border: 1px solid $blanco
        position: absolute
        margin-left: 91%

      .mes
        margin-top: 8%

      h4
        color: $blanco
        font-weight: 900
        text-align: right
        margin-top: -10px
        letter-spacing: 2px

      h2
        color: $blanco
        text-align: right
        margin-top: 235%
        margin-bottom: 0px
        font-size: 1.5em
        transition: 1s

      h3
        color: $blanco
        text-align: right
        margin-top: 249%
        margin-bottom: 0px
        font-size: 1.5em
        transition: 1s

      small, p
        color: $blanco
        float: right
        font-size: 11px
        font-weight: 500

      a
        padding: 1.5em 2em
        cursor: pointer
        border: 1px solid $blanco
        color: $blanco
        background-color: $morado
        display: block

      .hid
        visibility: hidden

      &:hover .puntoMes
        margin-top: 7%

      &:hover div
        margin-top: 21%

      &:hover h4
        margin-top: 21%

      &:hover .hid
        visibility: visible

      &:hover p
        margin-top: 8%
        margin-right: -8%

      &:hover
        min-height: 59em
        margin-top: -6.5%
        transition: 1s
        background-color: rgba(255, 255, 255, 0.3)

      &:hover .descripcion, &:hover .url
        margin-top: 7.5%

      &:hover img
        margin-top: 17.5%
        display: block
        margin-right: -8%
        height: 19em

      &:hover h2, &:hover h3
        margin-top: 26%
        transition: 1s

      &:hover .hidden-lg, &:hover .hidden-md, &:hover .hidden-sm, &:hover .hidden-xs
        display: initial !important

#equipo
  .container-fluid
    .col-xs-2
      background-color: rgba(255, 255, 255, 0.3)
      height: 59em
      margin-top: -6.5%
      margin-right: 1%
      padding-left: 0px !important
      padding-right: 0px !important

      div
        width: 12em
        font-size: 3em
        position: absolute
        margin-top: 130%
        transform: rotate(-90deg)
        font-weight: 900
        color: $blanco
        margin-left: -60%
        letter-spacing: 3px

      img
        margin-top: 50%

      h4
        margin-top: 7%
        color: $blanco
        font-weight: 500

      p
        color: $blanco
        font-size: 11px
        font-weight: 400

      a img
        margin-top: 3%
        width: 3em
        height: 3em
