$blanco: #ffffff
$morado: #7E05E8

body
  background: url(../images/animate.png), url(../images/colors.png)
  background-size: cover
  color: $blanco
  animation: animatedBackground 50s linear infinite

  @-webkit-keyframes animatedBackground
    0%
      background-position: 0 0

    50%
      background-position: 50% 0

    100%
      background-position: 0 0

  .animated
    -webkit-animation-duration: 4s
    animation-duration: 4s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both

  .animated.infinite
    -webkit-animation-iteration-count: infinite
    animation-iteration-count: infinite

  .animated.hinge
    -webkit-animation-duration: 2s
    animation-duration: 2s

  @-webkit-keyframes bounce
    0%, 20%, 50%, 80%, 100%
      -webkit-transform: translateY(0)
      transform: translateY(0)

    40%
      -webkit-transform: translateY(-13px)
      transform: translateY(-13px)

    60%
      -webkit-transform: translateY(-8px)
      transform: translateY(-8px)

  @keyframes bounce
    0%, 20%, 50%, 80%, 100%
      -webkit-transform: translateY(0)
      -ms-transform: translateY(0)
      transform: translateY(0)

    40%
      -webkit-transform: translateY(-13px)
      -ms-transform: translateY(-13px)
      transform: translateY(-13px)

    60%
      -webkit-transform: translateY(-8px)
      -ms-transform: translateY(-8px)
      transform: translateY(-8px)

  .bounce
    -webkit-animation-name: bounce
    animation-name: bounce

  .navbar-default
    background-color: transparent !important
    border: none !important

  .navbar-toggle
    border: none !important
    float: left !important

  .icon-bar
    background-color: $blanco !important

  .navbar-default .navbar-toggle:hover
    background-color: transparent !important

  .navbar-default .navbar-collapse, .navbar-default .navbar-form
    border-color: transparent !important

  .navbar-default .navbar-nav li a
    color: $blanco !important

#fullpage
  .modal-body
    height: 80vh !important
    padding: 0px !important

  #home
    background-image: url(../images/w.png)
    background-repeat: no-repeat
    background-position: bottom right
    background-size: 40%

    .mgt
      margin-top: 5vh
      margin-left: 3vw
      height: 8vh

    .mellow
      margin-left: -20%
      margin-top: 10vh
      height: 12vh

    .row
      padding-left: 0px !important
      padding-right: 0px !important

    h1
      letter-spacing: 15px
      margin-top: 25vh
      font-size: 50px

    small
      letter-spacing: 4px

    .reporte
      margin-top: 11%

      small
        letter-spacing: 2px
        display: block
        margin-bottom: 1%

      .descarga
        height: 7vh
        width: 7vh
        display: inline-block
        padding: 1%
        cursor: pointer
        border: 2px solid $blanco
        background-color: $morado
        color: $blanco

        img
          margin-top: 30%
          height: 0.8em
          width: 0.8em

    .col-xs-offset-11
      .sello
        background-image: url(../images/Sellos-02.png)
        background-size: 3.8em
        background-repeat: no-repeat
        width: 4em
        height: 4em
        position: relative
        margin-top: -2vh
        z-index: 1

  #portafolio
    .container-fluid
      .col-sm-2
        border-right: 1px solid $blanco
        min-height: 38em
        text-align: right
        margin-top: 15vh

        .puntito
          width: 9px
          height: 9px
          border-radius: 100%
          background-color: $morado
          border: 1px solid $blanco
          position: relative
          float: right
          margin-right: -20px

        .puntoMes
          width: 14px
          height: 14px
          border-radius: 100%
          background-color: $morado
          border: 1px solid $blanco
          position: relative
          float: right
          margin-right: -22px
          margin-top: 8%

        .mes
          margin-top: 8%

        h4
          font-weight: 900
          text-align: right
          margin-top: -10px
          letter-spacing: 2px

        .drag02
          text-align: right
          margin-top: 60vh
          margin-bottom: 0px
          font-size: 1.5em
          transition: 1s

        .drag
          text-align: right
          margin-top: 62vh
          font-size: 1.5em
          transition: 1s

        .rotate
          position: absolute
          transform: rotate(-90deg)
          margin-top: 135%

        small
          float: right
          font-size: 10px
          font-weight: initial
          margin-bottom: 8px

        .url
          margin-bottom: 25px

        span
          font-size: 10px
          font-weight: 500

        a .descarga
          height: 7vh
          width: 7vh
          cursor: pointer
          border: 2px solid $blanco
          border-radius: 0px !important
          background-color: $morado
          display: inline-block
          color: $blanco
          margin-right: -15px
          padding-top: 10px

          img
            height: 0.8em
            width: 0.8em
            margin-left: -15px

        .hid
          visibility: hidden

        .esconder
          display: none

        &:hover
          min-height: 100vh
          margin-top: 0%
          transition: 1s
          background-color: rgba(255, 255, 255, 0.3)

        &:hover .desplegable
          height: 65vh

        &:hover .puntito
          margin-top: 15%

        &:hover h4
          margin-top: 15%

        &:hover a .descarga
          height: 7vh
          width: 7vh
          cursor: pointer
          border-radius: 0px !important
          display: inline-block
          margin-right: -15px
          padding-top: 10px

        &:hover a .descarga img
          height: 0.8em
          width: 0.8em
          margin-left: (-0px) !important

        &:hover .drag
          margin-top: 5%
          transition: 1s

        &:hover .drag02
          margin-top: 5%
          transition: 1s

        &:hover .hid
          visibility: visible
          transition: 1s

        &:hover .esconder
          display: initial
          transition: 1s
          margin-left: 15px

  #equipo
    .container-fluid
      .col-md-2
        background-color: rgba(255, 255, 255, 0.3)
        min-height: 100vh
        margin-top: 0%
        margin-right: 1%
        padding-left: 0px !important
        padding-right: 0px !important
        overflow: hidden

        span
          display: block
          width: 12em
          font-size: 3em
          position: absolute
          margin-top: 48vh
          transform: rotate(-90deg)
          font-weight: 900
          margin-left: -60%
          letter-spacing: 3px

        .conte-persona
          height: 23em
          overflow: hidden
          margin-top: 20vh

          img
            margin-top: 0%
            -webkit-transform: scale(1.1)
            transition: 0.3s

            &:hover
              -webkit-transform: scale(1)
              transition: 0.3s

        h4
          margin-top: 11%
          font-weight: 500

        p
          font-size: 11px
          font-weight: 400

        a img
          margin-top: 3%
          width: 3em
          height: 3em

  #contacto
    .mellow-sello
      width: 3vw
      margin-top: 100px
      margin-right: 1vw
      display: inline !important

    .mellow-dow
      margin-top: 100px
      width: 8vw
      display: inline !important

    .contactanos
      height: 25em
      width: 70%
      background-image: url(../images/mapa.png)
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      margin-top: 20vh
      padding-left: 0px !important
      padding-right: 0px !important

      h1
        font-size: 3.5em
        letter-spacing: 20px
        position: absolute
        left: 50%
        top: 40%
        transform: translate(-50%, -50%)
        -webkit-transform: translate(-50%, -50%)

      p
        letter-spacing: 2px
        position: absolute
        left: 15.5%
        top: 60%

    .form
      width: 70%
      height: 3em
      border: 1px solid $blanco

      .datos
        background-color: $blanco
        color: $morado
        padding: 1.3%

      .correo
        background-color: $morado
        padding: 0.86%

        .row
          padding-left: 0px !important
          padding-right: 0px !important

        img
          width: 20px
          margin: 1% 3%

        .text
          width: 78%
          border: none
          background: transparent

        input
          color: $blanco

        input::-webkit-input-placeholder
          color: $blanco

        input:-moz-placeholder
          color: $blanco

        input:-ms-input-placeholder
          color: $blanco

        .send
          border: none
          background: transparent

          img
            width: 15px

@media (max-width: 767px)
  body
    background: -webkit-linear-gradient(#EE4339, #102661)
    background: -o-linear-gradient(#EE4339, #102661)
    background: -moz-linear-gradient(#EE4339, #102661)
    background: linear-gradient(#EE4339, #102661)
    animation: none

    #fp-nav ul,
    .fp-slidesNav ul
      display: none

    #home
      background-image: url(../images/w.png)
      background-repeat: no-repeat
      background-position: bottom center
      background-size: 120vw 110vh
      padding-bottom: 15vh

    #home .descarga
      border: 1px solid $blanco !important

    #fullpage #home h1
      margin-top: 15vh
      font-size: 30px
      letter-spacing: 11px

    #fullpage #home
      background-image: url(../images/w.png)
      background-repeat: no-repeat
      background-position: bottom
      background-size: 100vw 80vh

    #fullpage #home small
      letter-spacing: 2px
      font-size: 10px
      padding: 5px
      margin-top: 5vh

    #fullpage #home .mellow
      margin-left: 12vw
      margin-top: 6vh
      height: 9vh

    #fullpage #home .reporte
      margin-top: 5%

    #portafolio
      h1
        font-size: 1.6em !important
        letter-spacing: 5px

      .container-fluid

      .opaco
        background-color: rgba(255, 255, 255, 0.1)
        margin-right: (-30px) !important
        margin-left: (-30px) !important
        padding-left: 15px !important
        padding-right: 15px !important
        margin-bottom: 2vh

      .responsive
        min-height: 90vh !important
        padding-top: 7.5vh

        .col-sm-2
          border-right: none !important
          border-left: 1px solid $blanco
          min-height: 2em !important
          text-align: left !important
          margin-top: 0vh !important

          .boton-responsive
            background-color: transparent
            border: none
            margin-top: 4.5vh

            img
              width: 20px
              height: 10px

          .puntito
            width: 10px !important
            height: 10px !important
            margin-top: 25px !important
            position: relative
            float: left !important
            margin-left: -20px

          .puntoMes
            float: left !important
            margin-left: -22px
            margin-top: 8%

          .mes
            margin-top: 8%

          h4
            font-weight: 900
            text-align: left
            margin-top: -10px
            letter-spacing: 2px

          .drag02
            text-align: left !important
            margin-top: 0vh !important
            transition: 0s !important

          .drag
            text-align: left !important
            margin-top: 0vh !important
            transition: 0s !important

          small
            float: left !important
            font-size: 10px
            font-weight: initial !important
            margin-bottom: 8px

          .mgt
            margin-top: 25px !important
            padding-right: 8vw !important

          .url
            margin-bottom: 25px

          .imagenR
            margin-left: 0px

          span
            font-size: 10px
            font-weight: 500

          a .descarga
            height: 7vh
            width: 7vh
            border: 1px solid $blanco !important
            border-radius: 0px !important
            margin-right: -15px
            padding-top: 10px

          &:hover
            min-height: 100vh
            margin-top: 0%
            transition: 0s !important
            background-color: transparent !important

          &:hover .desplegable
            height: auto !important

          &:hover .puntito
            margin-top: 25px !important

          &:hover h4
            margin-top: 15%

          &:hover a .descarga
            height: 7vh
            width: 7vh
            cursor: pointer
            border-radius: 0px !important
            display: inline-block
            padding-top: 10px
            margin-top: 260% !important

          &:hover .drag
            margin-top: 5%
            transition: 0s !important

          &:hover .drag02
            margin-top: 5%
            transition: 0s !important

          &:hover .hid
            visibility: visible
            transition: 0s !important

          &:hover .esconder
            display: initial
            transition: 0s !important
            margin-left: 0px !important

    #equipo
      .container-fluid
        .col-md-2
          background-color: transparent !important
          min-height: 18vh !important
          margin-top: 0%
          margin-bottom: 10vh !important
          margin-right: 1%
          padding-left: 0px !important
          padding-right: 0px !important

          span
            width: 100% !important
            font-size: 1.6em !important
            position: absolute
            margin-top: 5vh !important
            transform: rotate(0deg) !important
            font-weight: 500
            margin-left: 0% !important
            letter-spacing: 5px

          .conte-persona
            height: 49vh !important
            margin-top: (-5vh) !important
            margin-left: 0px !important
            padding-left: 20vw !important
            padding-right: 20vw !important

            img
              margin-top: 0%
              -webkit-transform: scale(1) !important
              transition: 0s

              &:hover
                -webkit-transform: scale(1) !important
                transition: 0s

          h4
            margin-top: 5% !important
            font-weight: 500

    #contacto
      .mellow-sello
        width: 3vw
        margin-top: 100px
        margin-right: 1vw
        display: inline !important

      .contactanos
        height: 25em
        width: 100% !important
        background-image: url(../images/mapa.png)
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        margin-top: 10vh !important
        padding-left: 0px !important
        padding-right: 0px !important

        h1
          font-size: 2em !important
          letter-spacing: 10px !important
          position: absolute
          left: 50%
          top: 40%
          transform: translate(-50%, -50%)
          -webkit-transform: translate(-50%, -50%)

        p
          letter-spacing: 2px
          position: absolute
          left: 1% !important
          top: 60%

      .form
        width: 100% !important
        height: 3em
        border: 1px solid $blanco

        .datos
          padding: 3% !important
          letter-spacing: 1px !important

      .mellow
        margin-top: 2em
        width: 5em
        height: 5em
        margin-bottom: 20vh

      .mellow2
        width: 10em
        height: 3em
        margin-top: 5vh
